.jumbotron {
  text-align: center;
  background-image: url("../img/header1.jpeg");
  background-size: cover;
  color: white;
}
body {
  font-size: 14px;
  text-align: center;
}
.well {
  background-color: #CABEE7;
}
.option-subheader {
  text-decoration: underline;
}
.option-header {
  font-size: 23px;
}
.btn:hover {
  background-color: #5F5287;
  color: white;
}
#cost {
  margin-top: 2.5%;
  font-weight: bold;
  font-size: 18px;
}
 #name {
  width: 186px;
  margin: 0 auto;
}
#delivery-form {
  display: none;
  width: 230px;
  margin: 0 auto;
}
#delivery-return {
  font-size: 18px;
}
